@import url('https://fonts.googleapis.com/css2?family=Fascinate+Inline&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Karla:ital,wght@0,200..800;1,200..800&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --color-pink: #F35478;
    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

html, body, #root {
    font-family: "Karla", sans-serif;
    color: #151515;
    scroll-behavior: smooth;
    letter-spacing: 0.03125rem;
}

@layer utilities {
    .text-balance {
        text-wrap: balance;
    }

    .fascinate {
        font-family: 'Fascinate Inline', cursive;
    }
}

header p, span, button, a {
    color: #727272;
    transition: color 0.2s ease-in-out;
}

a {
    transition: color 0.2s ease-in-out;
}

a:hover {
    color: var(--color-pink);
}

.image-container:hover {
    transform: perspective(1px) scale(0.98) translateZ(0);
}

.image-container {
    transition: all 0.3s ease-in-out;
}
